<% provide(:title, @user.name) %>
<div class="row">
  <aside class = "span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %> 
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %> <!-- need to create the micropost patrial in the microposts view folder -->
      </ol>
      <%= will_paginate @microposts %> <!-- have to explicitly declare @microposts to paginate microposts, as this is within the Users controller -->
    <% end %>
</div>

<p><%= @user.name %>, <%= @user.email %></p>



